*{
    color: #233774;
}
#header {
    background-color: #000000;
}
/* f80101 */
#content-main caption{
    background-color: #000000;
}
/* a:link,
a:visited {
    color: #019ef8;
} */
#user-tools{
    color: #fff!important;
}
div.breadcrumbs{
    background-color:#000000 ;
}
fieldset.module h2 {
    background-color: #000000;
} 
.button, input[type=submit], input[type=button], .submit-row input, a.button
{
    background : #000;
    color: #f80101;
    font-weight: 700;
}

.button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover
{
    background : #000;
    color: #f80101;
    font-weight: 700;
}