{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>About Us</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->


    <!-- about wrap  -->
    <div class="about_wrap_area about_wrap_area2">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <img src="img/svg_icon/controls.png" alt="">
                        <h3>Unlimited Control</h3>
                        <p>These cases are perfectly simple and easy to </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <img src="img/svg_icon/bar-chart.png" alt="">
                        <h3>Rapidly Growth</h3>
                        <p>These cases are perfectly simple and easy to </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <img src="img/svg_icon/puzzle.png" alt="">
                        <h3>Problem Solving</h3>
                        <p>These cases are perfectly simple and easy to </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ about wrap  -->

<!-- about  -->
<div class="about_area">
    <div class="container-fluid p-0">
        <div class="row no-gutters align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="about_image">
                    <img src="{% static 'img/about/about.png' %}" alt="">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about_info">
                    <h3>The Largest Business Expert</h3>
                    <p>These cases are perfectly simple and easy to distinguish. In a free hour, <br> when our power of choice is untrammelled and when nothing prevents <br> our being able to do what we like best.</p>
                    <ul>
                        <li> Apartments frequently or motionless. </li>
                        <li> Duis aute irure dolor in reprehenderit in voluptate. </li>
                        <li> Voluptatem quia voluptas sit aspernatur.</li>
                    </ul>

                    <div class="about_btn">
                        <a class="boxed-btn3" href="#">About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ about  -->
<div class="portfolio_details_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <div class="portfolio_details_content text-center mb-50">
                    <h3>Gives you the best Financial  <br>
                        solution for business</h3>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish.</p>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="portfolio_details_thumb">
                    <img src="{% static 'img/gallery/details_img_1.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- counter  -->
    <center><h2 class="portfolio_details_content text-center mb-50">Quelques chiffres</h2></center>
    <div class="counter_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single_counter text-center">
                        <h3> <span class="counter" >520</span> <span>+</span> </h3>
                        <span>Total Projects</span>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_counter text-center">
                        <h3> <span class="counter" >244</span>  </h3>
                        <span>On Going Projects</span>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_counter text-center">
                        <h3> <span class="counter" >95</span> <span>%</span> </h3>
                        <span>Job Success</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ counter  -->




     <!-- project  -->
     <div class="project_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="project_info text-center">
                        <h3>Vous avez une question ?</h3>

                        <a href="#" class="boxed-btn3-white">Contactez nous</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ project  -->
    {% endblock content %}
