{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <!-- <h3>SUPELECTROTECH</h3> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->



    <!-- about wrap  -->
    <div class="about_wrap_area about_wrap_area2">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <img src="{% static 'img/svg_icon/puzzle.svg' %}" alt="">
                        <h3>Bon prix, Bon Choix</h3>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <img src="{% static 'img/svg_icon/controls.svg' %}" alt="">
                        <h3>Qualité Garantie</h3>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <img src="{% static 'img/svg_icon/bar-chart.svg' %}" alt="">
                        <h3>Accompagnement de A à Z</h3>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
    <!--/ about wrap  -->





<!-- about  -->
<div id="suite_about" class="about_area">
    <div class="container-fluid p-0">
        <h1 class="text-center mb-5" style="color: #233774;">SUPELECTROTECH, Toujours en Bonne Voie</h1>
        <div class="row no-gutters align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="about_image">
                    <img src="{% static 'img/about/about.png' %}" alt="">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about_info">
                    <p>Fondée en 1993 et implantée à BLIDA, plus exactement à la Zone Industrielle ATLAS. <br> <strong>SUPELECTROTECH</strong> n’est pas uniquement une entreprise d’Importation, et de Distribution des équipements de sécurité électronique.</p>
                    <ul>
                        <li> Détection Intrusion </li>
                        <li> Détection Incendie conventionnelle </li>
                        <li> Détection Incendie adressable</li>
                    </ul>
                    <p>Mais aussi D’Installation et de Fabrication, qui est le fruit d’une maitrise parfaite des systèmes de sécurité électronique. <br> c'est ce qui la permis de fabriquer des parties importantes de ces systèmes sans recourir à l’importation.</p>
                
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ about  -->

    <!-- financial_solution -->
    <div class="financial_solution_area">
        <div class="container"style="padding-left:0px!important;">
            <div class="row">
                <div class="col-xl-6 col-lg-6 pt-5">
                    <div class="about_info">
                        <p> <strong class="font-weight-bold"> La Force de SUPELECTROTECH </strong> , Se mesure par sa capacité à accompagner le client et d’y répondre à ses besoins par des solutions rentables et adaptées.</p>

                        <p class="mt-3"> <strong class="font-weight-bold"> Les Engagements de SUPELECTROTECH </strong></p>
                        <ul>
                            <li class="ml-1"> <p> Professionnalisme et qualité du matériel commercialisé. </p></li>
                            <li class="ml-1"> <p> Compétitivité des prix. </p></li>
                            <li class="ml-1"> <p> Service Après Vente efficace et performant.</p></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="finance_thumb">
                        <img src="{% static 'img/about/finance.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ financial_solution -->




    <!-- counter  -->
    <center><h2 class="portfolio_details_content text-center text-uppercase mb-50" style="color: #233774;">Quelques chiffres</h2></center>
    <div class="counter_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single_counter text-center">
                        <h3> <span class="counter" >1993</span>  </h3>
                        <span >Fondée en</span>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_counter text-center">
                        <h3> <span>+</span><span class="counter" >600</span>  </h3>
                        <span>Client Satisfait</span>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    
                    <div class="single_counter text-center">
                        <h3><span>+</span> <span class="counter" >500</span>  </h3>
                        <span>Projet Réalisé</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ counter  -->




     <!-- project  -->
     <div class="project_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="project_info text-center">
                        <h3>Vous avez une question ?</h3>

                        <a href="#" class="boxed-btn3-white">Contactez nous</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ project  -->
    {% endblock content %}
