{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>A propos de SUPELECTROTECH</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->



    <!-- about wrap  -->
    <div class="about_wrap_area about_wrap_area2">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <img src="{% static 'img/svg_icon/controls.svg' %}" alt="">
                        <h3>Qualité Garantie</h3>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <img src="{% static 'img/svg_icon/bar-chart.svg' %}" alt="">
                        <h3>Accompagnement de A à Z</h3>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <img src="{% static 'img/svg_icon/puzzle.svg' %}" alt="">
                        <h3>Bon prix, Bon Choix</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ about wrap  -->
<!-- about  -->
<div class="about_area">
    <div class="container-fluid p-0">
        <h1 class="text-center m-4">SUPELECTROTECH, Toujours en Bonne Voie</h1>
        <div class="row no-gutters align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="about_image">
                    <img src="{% static 'img/about/about.png' %}" alt="">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about_info">
                    <p>Fondée en 1993 et implantée à BLIDA, plus exactement à la Zone Industrielle ATLAS. <br> SUPELECTROTECH n’est pas uniquement une entreprise d’Importation, et de Distribution des équipements de sécurité électronique.</p>
                    <ul>
                        <li> Détection Intrusion </li>
                        <li> Détection Incendie conventionnelle </li>
                        <li> Détection Incendie adressable</li>
                    </ul>
                    <h6>Mais aussi</h6>
                    <p>L’Installation et la Fabrication, qui est le fruit d’une maitrise parfaite des systèmes de sécurité électronique. <br> c’est ce qui  nous a permis de fabriquer des parties importantes de ces systèmes sans recourir à l’importation.</p>
                
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ about  -->
<div class="portfolio_details_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <div class="portfolio_details_content text-center mb-50">
                    <h4 class="m-4">La Force de SUPELECTROTECH, <br> Se mesure par sa capacité à accompagner le client et d’y répondre à ses besoins par des solutions rentables et adaptées.</h4>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="portfolio_details_thumb">
                    <img src="{% static 'img/gallery/details_img_1.png' %}" alt="">
                </div>
            </div>
            <div class="col-xl-8 offset-xl-2">
                <div class="portfolio_details_content text-center mb-50">
                    <h3>Les Engagements de SUPELECTROTECH  </h3>
                    <h4>Professionnalisme et qualité du matériel commercialisé.</h4>
                    <h4>Compétitivité des prix.</h4>
                    <h4>Service Après Vente efficace et performant.</h4>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- counter  -->
    <center><h2 class="portfolio_details_content text-center mb-50">Quelques chiffres</h2></center>
    <div class="counter_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single_counter text-center">
                        <h3> <span class="counter" >520</span> <span>+</span> </h3>
                        <span>Total Projects</span>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_counter text-center">
                        <h3> <span class="counter" >244</span>  </h3>
                        <span>On Going Projects</span>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_counter text-center">
                        <h3> <span class="counter" >95</span> <span>%</span> </h3>
                        <span>Job Success</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ counter  -->




     <!-- project  -->
     <div class="project_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="project_info text-center">
                        <h3>Vous avez une question ?</h3>

                        <a href="#" class="boxed-btn3-white">Contactez nous</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ project  -->
    {% endblock content %}
