{% extends "base.html" %}
{% load static %}
{% block content %}
  
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center overlay2" style="background-image:url({% static 'img/banner/banner2.png' %});">
              {% comment %}
                  <!-- slider_bg_2  -->
              {% endcomment %}
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3> La Sécurité en Toute Sérénité</h3>
                                <div class="video_service_btn">
                                    
                                    <a href="{% url 'produits' %}" class="boxed-btn3-white"> <i class="fa fa-play"></i>
                                        Découvrez nos produits</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center  overlay2" style="background-image:url({% static 'img/banner/banner.png' %});">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3> La Sécurité en Toute Sérénité</h3>
                                <div class="video_service_btn">
                                    
                                    <a href="{% url 'produits' %}" class="boxed-btn3-white"> <i class="fa fa-play"></i>
                                        Découvrez nos produits</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center  overlay2" style="background-image:url({% static 'img/banner/banner2.png' %});">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3> La Sécurité en Toute Sérénité </h3>
                                <div class="video_service_btn">
                                    
                                    <a href="{% url 'produits' %}" class="boxed-btn3-white"> <i class="fa fa-play"></i>
                                        Découvrez nos produits</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- service_area_start -->
    <div class="service_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-50">
                        <h1>SUPELECTROTECH, Toujours en Bonne Voie</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <a href="{% url 'produits' %}#intrusion">
                        <div class="single_service service_bg_1">
                            <div class="service_hover">
                                <h3>Détection Intrusion</h3>
                                <h4 class="text-white">Gamme Complète et innovante.</h4>
                                <div class="hover_content">
                                    <div class="hover_content_inner">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-4 col-md-4">
                    <a href="{% url 'produits' %}#conventionnelle">
                        <div class="single_service service_bg_2">
                            <div class="service_hover">
                                <h3>Détection Incendie</h3>
                                <h4 class="text-white">Technologie Pointue et Facile a Utiliser</h4>
                                <div class="hover_content">
                                        <div class="hover_content_inner">
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-4 col-md-4">
                    <a href="{% url 'contact' %}">
                        <div class="single_service service_bg_3 hover_content">
                            <div class="service_hover">
                                <h3>Service Clients</h3>
                                <div class="hover_content">
                                        <div class="hover_content_inner">
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
    <!-- service_area_end -->

    <!-- about  -->
    <div class="about_area ">
        <div class="container-fluid p-0">
            <div class="row no-gutters align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="about_image">
                        <img src="{% static 'img/about/about.png' %}" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="about_info">
                        <h3>SUPELECTROTECH, Toujours en Bonne Voie</h3>
                        <p>Fondée en 1993 et implantée à BLIDA, plus exactement à la Zone Industrielle ATLAS. SUPELECTROTECH n’est pas uniquement une entreprise d’Importation, et de Distribution des équipements de sécurité électronique ..</p>
                        <div class=" about_btn">
                            <a class="boxed-btn3" href="#">En lire plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ about  -->






    <!-- gallery -->
    <div class="gallery_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                        <div class="section_title text-center mb-50">
                      
                                <h3>Nos produits populaires</h3>
                                <p>These cases are perfectly simple and easy to distinguish. In a free <br> hour, when our power of choice is untrammelled.</p>
                            </div>
                </div>
            </div>
            
            <div class="row grid">
                {% for  produit in popular  %}
                    <div class="col-xl-4 col-lg-6 grid-item cat1 col-md-6">
                        <div class="single-gallery mb-20">
                                <div class="portfolio-img">
                                        <img src="{{produit.photo.url}}" alt="">
                                </div>
                                <div class="gallery_hover">
                                    <a  href="{% url 'produit-detail' slug=produit.slug %}" class="hover_inner">
                                            <h3>{{produit.reference}}</h3>
                                            <span>{{produit.get_category_display}}</span>
                                    </a>
                                </div>
                        </div>
                    </div>
                {% endfor %}                 
                <div class="col-xl-8 col-lg-6 grid-item cat2 col-md-6">
                    <div class="single-gallery mb-20">
                        <div class="portfolio-img">
                                <img src="{% static 'img/gallery/4.png' %}" alt="">
                        </div>
                        <div class="gallery_hover">
                            <a  href="portfolio_details.html" class="hover_inner">
                                        <h3>Product Branding</h3>
                                        <span>Branding</span>
                                </a>
                            </div>
                    </div>
                </div>
                              

            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="More_Works_btn text-center">
                        <a class="boxed-btn3-green-2" href="{% url 'produits' %}">Plus de produits</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ gallery -->

    <!-- about wrap  -->
    <div class="about_wrap_area about_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <img src="{% static 'img/svg_icon/controls.svg' %}" alt="">
                        <h3>Qualité Garantie</h3>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <img src="{% static 'img/svg_icon/bar-chart.svg' %}" alt="">
                        <h3>Accompagnement de A à Z</h3>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <img src="{% static 'img/svg_icon/puzzle.svg' %}" alt="">
                        <h3>Bon prix, Bon Choix</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ about wrap  -->






    <!-- project  -->
    <div class="project_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="project_info text-center">
                        <h3>Vous avez une question ?</h3>

                        <a href="#" class="boxed-btn3-white">Contactez nous</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ project  -->
{% endblock content %}
