{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- bradcam_area  -->
    <div class="bradcam_area breadcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Portfolio</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->


    <!-- gallery -->
    <div class="gallery_area">
        <div class="container">
            <div class="row grid">
                    <div class="col-xl-4 col-lg-6 grid-item cat1 col-md-6">
                        <div class="single-gallery mb-20">
                                <div class="portfolio-img">
                                        <img src="img/gallery/1.png" alt="">
                                </div>
                                <div class="gallery_hover">
                                    <a  href="portfolio_details.html" class="hover_inner">
                                            <h3>Product Branding</h3>
                                            <span>Branding</span>
                                    </a>
                                </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 grid-item cat3 cat4 col-md-6">
                        <div class="single-gallery mb-20">
                                <div class="portfolio-img">
                                        <img src="img/gallery/2.png" alt="">
                                </div>
                                <div class="gallery_hover">
                                    <a  href="portfolio_details.html" class="hover_inner">
                                            <h3>Product Branding</h3>
                                            <span>Branding</span>
                                    </a>
                                </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 grid-item cat4 col-md-6">
                        <div class="single-gallery mb-20">
                                <div class="portfolio-img">
                                        <img src="img/gallery/3.png" alt="">
                                </div>
                                <div class="gallery_hover">
                                    <a  href="portfolio_details.html" class="hover_inner">
                                            <h3>Product Branding</h3>
                                            <span>Branding</span>
                                    </a>
                                </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-6 grid-item cat2 col-md-6">
                        <div class="single-gallery mb-20">
                            <div class="portfolio-img">
                                    <img src="img/gallery/4.png" alt="">
                            </div>
                            <div class="gallery_hover">
                                <a  href="portfolio_details.html" class="hover_inner">
                                            <h3>Product Branding</h3>
                                            <span>Branding</span>
                                    </a>
                                </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 grid-item cat2 col-md-6">
                        <div class="single-gallery mb-20">
                            <div class="portfolio-img">
                                    <img src="img/gallery/5.png" alt="">
                            </div>
                            <div class="gallery_hover">
                                <a  href="portfolio_details.html" class="hover_inner">
                                        <h3>Product Branding</h3>
                                        <span>Branding</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="More_Works_btn text-center">
                            <a class="boxed-btn3-green-2" href="#">More Works</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!--/ gallery -->

    <!-- testmonial_area start  -->
    <div class="testmonial_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                        <div class="testmonial_active2 owl-carousel">
                            <div  class="single_slider text-center" data-dot='<img src="img/testmonial/1.png" alt="#" ' >
                                    <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able.</p>
                                    <div class="author_name text-center">
                                        <h4>Robert Jonson</h4>
                                        <span> Business Owner</span>
                                    </div>
                                </div>
                            <div  class="single_slider text-center" data-dot='<img src="img/testmonial/1.png" alt="#" ' >
                                    <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able.</p>
                                    <div class="author_name text-center">
                                        <h4>Robert Jonson</h4>
                                        <span> Business Owner</span>
                                    </div>
                                </div>
                            <div  class="single_slider text-center" data-dot='<img src="img/testmonial/1.png" alt="#" ' >
                                    <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able.</p>
                                    <div class="author_name text-center">
                                        <h4>Robert Jonson</h4>
                                        <span> Business Owner</span>
                                    </div>
                                </div>
                        </div>
                        
                </div>
            </div>
        </div>
    </div>
    <!-- testmonial_area end  -->

    <!-- project  -->
    <div class="project_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="project_info text-center">
                        <h3>Do you Have any Project?</h3>
                        <p>Nam libero tempore, cum soluta nobis est eligendi optio <br>
                                cumque nihil impedit quo minus.</p>
                        <a href="#" class="boxed-btn3-white">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ project  -->
   