{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <!-- <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Catalogue des produits </h3>
                    </div>
                </div> -->
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<section class="container">
    <!-- sidebar -->
    <div class="row d-flex justify-content-around">
        <div class="d-none d-md-block col-md-3">
            <aside class="side-bar-product d-block sidebar">
                <div class="make-me-sticky">
                    <div class="sidebar-widget search-box">
                        <form method="post" action="#">
                            <div class="form-group">
                                <input type="search" name="search-field" value="" placeholder="Rechrcher un produit"
                                    required>
                                <button type="submit"><span class="icon fa fa-search"></span></button>
                            </div>
                        </form>
                    </div>
                    <div class="sidebar-widget sidebar-blog-category">
                        <div class="sidebar-title">
                            <h2>Catégories</h2>
                        </div>
                        <ul class="cat-list">
                            <li><a class="link-prod" href="#intrusion">Détection Intrusion</a></li>
                            <li><a class="link-prod" href="#conventionnelle">Détection Incendie Conventionnelle</a></li>
                            <li><a class="link-prod" href="#adressable">Détection Incendie Adressable</a></li>
                        </ul>
                    </div>
                </div>

            </aside>
        </div>
        <!-- </div> -->
        <!-- FIN sidebar -->

        <!-- <div class="row"> -->

        <div class="col- col-md-9  ">
            <div class="main-product">
                <!-- partie intrusion -->
                <div id="intrusion">
                    <div class="py-5">
                        <div class="row d-flex">
                            <h2 class="font-weight-bold my-5 col-12">Détection Intrusion</h2>
                            {% for prod in intrusion %}
                                {% if prod.is_active %}
                                    <div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-4">
                                        <div class="card" style="height: 100%;">
                                            <a href="{% url 'produit-detail' slug=prod.slug %}">
                                                <img class="card-img" src="{{prod.photo.url}}" alt="{{prod.designation}}">
                                            </a>
                                            <div class="card-body">
                                                <h4 class="card-title"> <a href="{% url 'produit-detail' slug=prod.slug %}">{{prod.designation}}</a>
                                                </h4>
                                                <h6 class="card-subtitle mb-2 text-muted"> {{prod.reference}}</h6>
                                                <!-- <div class="buy d-flex justify-content-between align-items-center">
                                                    <a href="{% url 'produit-detail' slug=prod.slug %}"
                                                        class="btn btn-primary mt-3">Lire Plus</a>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- FIN partie intrusion -->
                <!--  partie Conventionnelle -->

                <div id="conventionnelle">
                    <div class="py-5">
                        <div class="row d-flex">
                            <h2 class="font-weight-bold  my-5 col-12">Détection Incendie Conventionnelle</h2>
                            {% for prod in conventionnelle %}
                                {% if prod.is_active %}
                                    <div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-4">
                                        <div class="card" style="height: 100%;">
                                            <a href="{% url 'produit-detail' slug=prod.slug %}">
                                                <img class="card-img" src="{{prod.photo.url}}" alt="{{prod.designation}}">
                                            </a>
                                            <div class="card-body">
                                                <h4 class="card-title"> <a
                                                        href="{% url 'produit-detail' slug=prod.slug %}">{{prod.designation}}</a>
                                                </h4>
                                                <h6 class="card-subtitle mb-2 text-muted">{{prod.reference}}</h6>
                                                <!-- <div class="buy d-flex justify-content-between align-items-center">
                                                    <a href="{% url 'produit-detail' slug=prod.slug %}"
                                                        class="btn btn-primary mt-3">Lire Plus</a>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- FIN partie Conventionnelle -->
                <!--  partie Adressable -->

                <div id="adressable">
                    <div class="py-5">
                        <div class="row d-flex">
                            <h2 class="font-weight-bold  my-5 col-12">Détection Incendie Adressable</h2>
                            {% for prod in adressable %}
                                {% if prod.is_active %}                              
                                    <div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-4">
                                        <div class="card" style="height: 100%;">
                                            <a href="{% url 'produit-detail' slug=prod.slug %}">
                                                <img class="card-img" src="{{prod.photo.url}}" alt="{{prod.designation}}">
                                            </a>
                                            <div class="card-body">
                                                <h4 class="card-title"> <a
                                                        href="{% url 'produit-detail' slug=prod.slug %}">{{prod.designation}}</a>
                                                </h4>
                                                <h6 class="card-subtitle mb-2 text-muted">{{prod.reference}}</h6>
                                                <!-- <div class="buy d-flex justify-content-between align-items-center">
                                                    <a href="{% url 'produit-detail' slug=prod.slug %}"
                                                        class="btn btn-primary mt-3">Lire Plus</a>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- FIN partie Adressable -->

            </div>
        </div>
    </div>


</section>
<!-- Fin section produits -->

{% endblock content %}