{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area breadcam_bg_2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text text-center">
          
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ bradcam_area  -->
<!--Main layout-->
<main class="mt-5 pt-4 " >
  <div class="container wow fadeIn"style="height: 600px!important;display: table;">

    <!-- Heading -->
    <!--Grid row-->
    <div class="row the-row">
      <!--Grid column-->
      <div class="d-none d-md-block col-md-3">
        <aside class="side-bar-product d-block sidebar">
          <div class="make-me-sticky">

            <div class="sidebar-widget sidebar-blog-category">
              <div class="sidebar-title">
                <h2>Catégories</h2>
              </div>
              <ul class="cat-list" id="side-nav" >
                <li><a class="link-prod" href="{% url 'produits' %}#intrusion">Détection Intrusion</a></li>
                <li><a class="link-prod" href="{% url 'produits' %}#conventionnelle">Détection Incendie Conventionnelle</a></li>
                <li><a class="link-prod" href="{% url 'produits' %}#adressable">Détection Incendie Adressable</a></li>
                {% if categorieX %}
                <li><a class="link-prod" href="{% url 'produits' %}#cable">Câble & Energie</a></li>
                {% endif %}
              </ul>
            </div>
            <div class="download mt-5">
              <div class="sidebar-title">
                  <h2 class="text-uppercase te">Téléchargement</h2>
              </div>
              <a href="{% static 'catalogue/Teknim_Intruder.pdf' %}" download>
                  <li id="id_price" class=" d-flex justify-content-between ">
                    <div class="mt-1">
                      <h6 style="color: #233774;">Catalogue Détection Intrusion</h6>
                    </div>
                    <div>
                      <img class="" src="{% static 'img/svg_icon/download.svg' %}" alt="" srcset="">
                    </div>
                  </li>
                </a>
                <hr>
                <a  href="{% static 'catalogue/Teknim_fire.pdf' %}" download>
                  <li id="id_price" class=" d-flex justify-content-between ">
                    <div class="mt-1">
                      <h6 style="color: #233774;">Catalogue Détection Incendie</h6>
                    </div>
                    <div>
                      <img class="" src="{% static 'img/svg_icon/download.svg' %}" alt="" srcset="">
                    </div>
                  </li>
                </a>
          </div>
          </div>

        </aside>
      </div>
      <div class="col-md-6 mb-4">

        <div class="accordion_area">
          <div class="faq_ask">
            <h3>{{produit.reference}}</h3>
          <h1 class="" style="font-size:30px">{{produit.designation}}</h1>

            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                      aria-expanded="false" aria-controls="collapseTwo">
                      <h4>Description</h4>
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    {% if produit.description_2 %}
                    {{produit.description_2|safe}}
                    {% else %}
                     <h4 class="text-muted" >Ce produit ne dispose pas de description pour le moment</h4> 
                    {% endif %}
                  </div>
                </div>
              </div>
              {% if produit.description_1 %}

              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"
                      aria-expanded="false" aria-controls="collapseOne">
                      <h4>Autres informations</h4>
                    </button>
                  </h5>
                </div>
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">{{produit.description_1|safe}}
                    </div>
                  </div>
                  
                </div>
                {% endif %}

            </div>
          </div>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-3 mb-4">

        <!-- Heading -->


        <div>
          <a class="popup-image" href="{{produit.photo.url}}">
            <img class='img-fluid' src='{{produit.photo.url}}' alt='{{produit.name}}'>
          </a>
        </div>
        <h5>Fichiers à Télécharger</h5>
        <!-- Cart -->
        <ul class="d-block list-group mb-3 z-depth-1">
          {% if produit.fichier_1 %}
            <a href="{{produit.fichier_1.url}}" download>
              <li id="id_price" class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="">Fiche Technique</h6>
                </div>
                <div>
                  <img class="" src="{% static 'img/svg_icon/download.svg' %}" alt="" srcset="">
                </div>
              </li>
            </a>
          {% endif %}

          {% if produit.fichier_2 %}
            <a href="{{produit.fichier_2.url}}" download>
              <li id="id_price" class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="">Manuel Instalateur </h6>
                </div>
                <div>
                  <img class="" src="{% static 'img/svg_icon/download.svg' %}" alt="" srcset="">
                </div>
              </li>
            </a>
          {% endif %}

          {% if produit.fichier_3 %}
            <a href="{{produit.fichier_3.url}}" download>
              <li id="id_price" class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="">Manuel Utilisateur </h6>
                </div>
                <div>
                  <img class="" src="{% static 'img/svg_icon/download.svg' %}" alt="" srcset="">
                </div>
              </li>
            </a>
          {% endif %}

          {% if produit.fichier_4 %}
            <a href="{{produit.fichier_4.url}}" download>
              <li id="id_price" class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="">Certificat</h6>
                </div>
                <div>
                  <img class="" src="{% static 'img/svg_icon/download.svg' %}" alt="" srcset="">
                </div>
              </li>
            </a>
          {% endif %}

        </ul>
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
</main>
<!--Main layout-->



{% endblock content %}