{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>About Us</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->
<section class="container">
    <div class="row">
        <div class="col-3">
            <div class="side-bar-product d-block">
                <h2>Catégories</h2>
                <ul>
                        <li><a class="link-prod" href="#intrusion">Intrusion</a></li>
                        <li><a class="link-prod" href="#conventionnelle">Incendie Conventionnelle</a></li>
                        <li><a class="link-prod" href="#adressable">Incendie Adressable</a></li>
                </ul>
            </div>
        </div>
        <div class="col-9">
            <div class="main-produict">
                <!-- partie intrusion -->
                <div id="intrusion">
                    <div class="py-5">
                        <h3 class="font-weight-bold mb-0">Intrusion</h3>
                        <div class="row">
                            {% for prod in intrusion %}
                                <div class="col-6 col-md-4 mb-3">
                                    <a href="#">

                                        <div class="hover hover-3 text-white rounded"><img src="{{prod.photo.url}}" alt="{{prod.reference}}">
                                            <div class="hover-overlay"></div>
                                            <div class="hover-3-content px-5 py-4">
                                                <h3 class="hover-3-title text-uppercase font-weight-bold mb-1 text-light">{{prod.reference}}</h3>
                                                <!-- <p class="hover-3-description small text-uppercase mb-0">{{prod.designation}}</p> -->
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div> 
                </div>
                <!-- FIN partie intrusion -->
                <!--  partie Conventionnelle -->

                <div id="conventionnelle">
                    <div class="py-5">
                        <h3 class="font-weight-bold mb-0">Incendie Conventionnelle</h3>
                        <div class="row">
                            {% for prod in conventionnelle %}
                                <div class="col-6 col-md-4 mb-3">
                                    <a href="#">

                                        <div class="hover hover-3 text-white rounded"><img class="img-fluid" src="{{prod.photo.url}}" alt="{{prod.reference}}">
                                            <div class="hover-overlay"></div>
                                            <div class="hover-3-content px-5 py-4">
                                                <h3 class="hover-3-title text-uppercase font-weight-bold mb-1 text-light">{{prod.reference}}</h3>
                                                <!-- <p class="hover-3-description small text-uppercase mb-0">{{prod.designation}}</p> -->
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div> 
                </div>
                <!-- FIN partie Conventionnelle -->
                <!--  partie Adressable -->

                <div id="adressable">
                    <div class="py-5">
                        <h3 class="font-weight-bold mb-0">Incendie Adressable</h3>
                        <div class="row">
                            {% for prod in adressable %}
                                <div class="col-6 col-md-4 mb-3">
                                    <a href="#">

                                        <div class="hover hover-3 text-white rounded"><img src="{{prod.photo.url}}" alt="{{prod.reference}}">
                                            <div class="hover-overlay"></div>
                                            <div class="hover-3-content px-5 py-4">
                                                <h3 class="hover-3-title text-uppercase font-weight-bold mb-1 text-light">{{prod.reference}}</h3>
                                                <!-- <p class="hover-3-description small text-uppercase mb-0">{{prod.designation}}</p> -->
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div> 
                </div>
                <!-- FIN partie Adressable -->

            </div>
        </div>
    </div>

</section>
<!-- Fin section produits -->

{% endblock content %}
